.detail-view {
	padding: 20px;
	display: flex;
	align-items: flex-start;
	text-align: center;
	flex-direction: row;
	justify-content: center;
}

.detail {
	width: 40vw;
	padding: 20px;
}

.detail-image {
	height: 55vh;
}

.detail-title {
	font-size: 25px;
}

.deatil-link {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

.detail-category,
.detail-byline {
	text-align: left;
	padding-bottom: 25px;
	width: 60vw;
}